body {
	background-color: #303030;
	color: #ffffff;
    font-family: 'Roboto', sans-serif;
    display: flex;
	flex-direction: column;
    align-items: center;
}
.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}
.input-field input[type="text"] {
	color: #2196f3;
}
.input-field .prefix {
    color: #2196f3;
}
.input-field .active label {
	color: #2196f3;
}
.input-field .active input[type="text"] {
	border-bottom: 1px solid #2196f3;
	box-shadow: 0 1px 0 0 #2196f3;
}
.btn {
	background-color: #2196f3;
}
.timer {
	color: #2196f3;
	font-size: 50px;
	text-align: center;
	margin-top: 50px;
}